#heroAssetContainer
  a#heroImage(href="http://www.google.com",target="_blank")
    #heroOverlay
      h2.overlayTitle Why you should care about your information governance
      p.overlayCTA Learn More
        i.icon-lightbulb
    #heroImageContainerOuter
      #heroImageContainerInner
        img(src="images/background-dark.jpg")
